{% extends 'base.html' %}

{% block head %}
<style>
</style>

{% endblock %}

{% block body %}

     <div class="ui container">
        <h1 class="ui header">{{ publisher.name }}
            <div class="ui sub header">{{ publisher.book_set.count }} {% if publisher.book_set.count == 1 %}Boek{% else %}Boeken{% endif %}</div>
        </h1>
    </div>

    <div class="ui divider"></div>

    <div class="ui container">
        <h2>Boeken van deze uitgever</h2>
        <div class="ui centered cards" id="publisher_books"></div>
        <div class="ui hidden divider"></div>
        <div class="ui center aligned container" id="publisher_books_navigation"></div>
    </div>

    <div class="ui hidden divider"></div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="/static/js/book_pagination.js"></script>
    <script>

        var pagination = new BookPagination('/api/publisher/{{ publisher.id }}/books/', $('#publisher_books'), $('#publisher_books_navigation'), true);
        pagination.load_page(1);
    </script>
{% endblock %}